/****************** Color Variables ******************/
:root{
  --green: #A0C49D;
  --yellowish: #FFEEBB;
  --blueish: #C2DEDC;
  --grayishGreen: #AEC2B6;
  --greenishBlue: #94AF9F;
  --greener: #9DC08B;
  --greenerer: #609966;



  --ltGr: rgb(212, 237, 157);
  --mdGrLs: rgb(100, 169, 123, 0.15);
  --mdGr: rgb(100, 169, 123, 0.3);
  --mdGrFull: rgb(100, 169, 123, 1);
  --blu: rgb(58, 84, 101);
  --dk: rgb(61, 57, 49);
  --wht: #ffffff;
}
/****************** Color Variables End ******************/




/****************** Overall Body Styling ******************/

.body {
  height: 100%;
  width: 100%;
  padding: 0; 
  margin: 0;
  background: var(--wht);
  overflow-x: hidden;
}

/****************** Overall Body Styling End ******************/




/****************** Top Navigation Bar ******************/

/* Top navigation bar with logo and <a> elements */
.top-nav-container {
  background: var(--wht);
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: sticky;
  padding: 0%;
  margin-bottom: 1%;
  top:0;
  z-index: 10;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
}

.menu-bar {
  display: inline-block;
}

  
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Top navigation logo */
.top-nav-container img {
  float: left;
  margin: 1%;
  width: clamp(8vh, 8vh + 0.75vh, 10vh);
  height: clamp(8vh, 8vh + 0.75vh, 10vh);
  margin: auto;

}

/* top navigation business label and containerizing div */
.top-nav-container div{
top: 25%;
position: absolute;
margin-left: 10vh;
min-height: 10vh;

}

.top-nav-label {
  font-size: clamp(1.5rem, 3vw + 0.75rem, 2.5rem);
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
}

/* top navigation <a> elements */
.nav-elements {
  float: right;
  color: var(--dk);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem);
}

/* top navigation <a> elements active state */
.top-nav-container a:active {
  color: var(--dk);
}

.top-nav-container a:hover {
color: var(--blu);
}

/****************** Top Navigation Bar End ******************/



/******************** Content Containers ********************/


.initial-prompt-container {
margin-top: 10vh;
/* width: 100%; */
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-right: 10vw;
margin-left: 10vw;
box-sizing: border-box;
border: 1px solid var(--blu);
border-radius: 10px;
/* padding: 2vh; */
background-color: var(--blu);

/* float: right;
padding:3vw 10vw 0 10vw; */
/* z-index: -1; */
}

.initial-prompt-container img {
  z-index: -1;
  display: block;
  margin: auto;
  height: clamp(60vw, 50vh, 80vw);
  width: clamp(48vw, 43vh, 64vw);
  opacity: .3;
}

.me-overlay {
  position: absolute;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.initial-prompt-container label{
  color: var(--wht);
}

.services-container{
  padding-top: 10vh;
  /* margin-bottom: 3%; */
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  

}

.services-label {
  font-size: clamp(1.5rem, 2.5vw + 0.75rem, 2rem);
  color: var(--dk);
  margin-bottom: 3vh;
  margin-top: 10vh;
}

.services-description-label {
  font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem);
  color: var(--dk);
  /* margin-bottom: 5vh;
  margin-top: 5vh; */
}

.grid-container {
display: grid;
/* grid-template-columns: auto auto auto; */
grid-template-columns: 1fr;
}

.img-container {
  display: flex;
  align-items: center;
  margin: auto;
  /* animations */
  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;

}

.img-container img {
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  /* width: clamp(10rem, 10vw + 10rem, 15rem);
  height: clamp(10rem, 10vw + 10rem, 15rem); */
  
  /* sizing for animations */
  width: clamp(30vw, 35vh, 50vw);
  height: clamp(30vw, 35vh, 50vw);


  float: left;

}

.rev-right {
    /* animations */
    animation: auto linear reveal-right both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
  
}

.service-description {
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--wht);
  padding: 5vh;
  margin: auto;
  float: left;
}

.service-description label {
text-align: center;
font-size: clamp(1rem, 1.5vw + 0.75rem, 1.5rem);
font-weight: bold;
}

.elong-line{
  width: clamp(10vw, 15vh, 20vw);
  height: 5px;
  border: 1px solid var(--dk);
  /* border-radius: 10px; */
  background-color: var(--dk);
}
.small-image-container {
  float: left;
  /* display: flex; */
  align-items: center;

  /* animations */
  /* animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%; */
}

.small-image-container img {
  margin-left: auto;
  margin-right: auto;
  /* width: clamp(10rem, 10vw + 10rem, 15rem);
  height: clamp(10rem, 10vw + 10rem, 15rem); */
  
  /* sizing for animations */
  width: clamp(20vw, 20vh, 40vw);
  height: clamp(20vw, 20vh, 40vw);



}
@keyframes reveal {
  from { opacity: 0; clip-path: inset(0% 60% 0% 0%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}
@keyframes reveal-right {
  from { opacity: 0; clip-path: inset(0% 0% 0% 60%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}


/************** Content Container End **************/





/****************** Image Gallery ******************/

/* Slideshow container */
.slideshow-container {
/* position: relative; */
/* display: block; */
/* width: 100%; */
/* align-items: center;
text-align: center; */
/* padding-top: 5vh; */
margin: auto;

float: right;
padding:3vw 10vw 0 10vw;
  /* animations */
  animation: auto linear reveal-slideshow both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;

}
@keyframes reveal-slideshow {
  from { opacity: 0; clip-path: inset(0% 50% 60% 0%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}
/* slideshow images */
.slideshow-container img{
  width: clamp(40vw, 70vh, 90vw);
  height: clamp(40vw, 70vh, 90vw);
}

/* Caption image */
.img-caption {
color: var(--blu);
font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem);
}

/* Hide the images by default */
.slide-img-container {
display: none;
align-items: center;
text-align: center;
}

img.framed {
margin-top: 1vh;
margin-bottom: 1vh;
box-shadow:
  -50px -50px 0 -40px var(--mdGrFull),
  50px 50px 0 -40px var(--mdGrFull);
}


/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 2s;
}

/* keyframes fade animation definition */
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* The slideshow image position indicators */
.img-position-indication {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

/* Image position indicator when active or hovered */
/* .img-position-indication:hover {
background-color: var(--blu);
} */

.active {
background-color: var(--dk);
}
/****************** Image Gallery End ******************/


/****************** Social Media Icons ******************/
/* Style all font awesome icons */
.fa {
padding: 10px;
font-size: 20px;
width: 20px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
}

/* Facebook */
.fa-facebook {
background: #3B5998;
color: white;
}

/**************** Social Media Icons End ****************/

@media screen and (max-width: 1000px) {  
  .body {
    width: 100%;

  }
  .top-nav-label {
    font-size: clamp(16px, 10vw, 30px);
  }
  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0, auto;
  }

  .top-nav-container a {
    display: none;
  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .small-image-container {
    display: none;
  }

  .service-description {
    padding: 2vw;
  }


  .menu-bar {
    display: inline-block;
    cursor: pointer;
    right: 0;
    margin-top: 15%;
    margin-right: 10%;
  }


}



/* Contact Information */
.contact-icon {
  width: clamp(1.5rem, 3vw + 0.75rem, 2.5rem);
  height: clamp(1.5rem, 3vw + 0.75rem, 2.5rem);
  vertical-align: middle;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.contact-text {
  font-size: clamp(.75rem, 2vw + 0.75rem, 1.25rem);
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.about-description {
  text-align: center;
  align-items: center;
  }
  
.about-description label {
  text-align: center;
  font-size: clamp(.75rem, 1.5vw + 0.75rem, 1.25rem);
  }

.contact-element {
  background-color: var(--mdGrFull);
  border: 1px solid var(--mdGrFull);
  border-radius: 10px;
  float: right;
  color: var(--wht);
  text-align: center;
  padding: 14px 16px;
  margin-right: 1vw;
  margin-left: 1vw;
  text-decoration: none;
  font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem);
}

.about-us-container {
  margin: 2vw 10vw;
}